import React from 'react'
import styles from './{{ fileName }}.module.scss'

export const {{ pascalName }}: React.FC<{}> = ({ children }) => {
  return <div className={ styles.{{camelName}} }>
   { children}
  </div>
}
