import React from 'react'
import styles from './{{ fileName }}.module.scss'
import { cn } from '@tristanwritescode/class-name'

export interface {{ pascalName }}Props {
  className?: string
  children?: React.ReactNode
}


export function {{ pascalName }}({ className, children }: {{ pascalName }}Props) {
  return <div className={cn(styles.{{camelName}}, className)}>
   { children}
  </div>
}
